{% extends "base.html" %}
{% load static %}

{% block title %}
City - Vote Duluth
{% endblock %}

{% block content %}

<section id="city" class="city">
    <div class="container" data-aos="fade-up">
      <!-- ======= Mayor ======= -->
      <div class="mayor">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <a href="mayor.html">
              <div class="box">
              <h3>Emily Larson</h3>
              <h6>Mayor</h6>
              <img src="assets/img/officials/EmilyLarson.webp" alt="Emily Larson"  class="img-thumbnail">
              </div>
            </a>
          </div>       
        </div>
      </div>
      
      <!-- ======= Council District ======= -->
      <div class="row">
        <h4>City Councilors</h4>
        <div class="col-lg-2 col-md-5">
          <a href="councildistrict1.html">
            <div class="box">
            <h3>Gary Anderson</h3>
            <h6>First Council District</h6>
            <img src="{% officials %} '\GaryAnderson.webp' alt="Gary Anderson" class="img-thumbnail" width="160" height="225">
          </a>
          </div>
        </div>       

        <div class="col-lg-2 col-md-5">
          <a href="councildistrict2.html">
          <div class="box">
            <h3>Joel Sipress</h3>
            <h6>Second Council District</h6>
            <img src="assets/img/officials/JoelSipress.webp" alt="Joel Sipress" class="img-thumbnail" width="160" height="225">
          </div>
          </a>
        </div>  
        
        <div class="col-lg-2 col-md-5">
          <a href="councildistrict3.html">
            <div class="box">
              <h3>Roz Randorf</h3>
              <h6>Third Council District</h6>
              <img src="assets/img/officials/RozRandorf.webp" alt="Roz Randorf" class="img-thumbnail" width="160" height="225">
            </div>
          </a>
        </div>  

        <div class="col-lg-2 col-md-5">
          <a href="councildistrict4.html">
            <div class="box">
              <h3>Renee Van Nett</h3>
              <h6>Fourth Council District</h6>
              <img src="assets/img/officials/ReneeVanNett.webp" alt="Renee Van Nett" class="img-thumbnail" width="160" height="225">
            </div>
          </a>
        </div>  

        <div class="col-lg-2 col-md-5">
          <a href="councildistrict5.html">
            <div class="box">
              <h3>Janet Kennedy</h3>
              <h6>Fith Council District</h6>
              <img src="assets/img/officials/JanetKennedy.webp" alt="Janet Kennedy" class="img-thumbnail" width="160" height="225">
            </div>
          </a>
        </div>
      </div>

      <!-- ======= Councilor At Large ======= -->
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="counciloratlarge1.html">
            <div class="box">
              <h3>Zach Flipovich</h3>
              <h6>Coucilor At Large</h6>
              <img src="assets/img/officials/ZachFlipovich.webp" alt="Zach Flipovich" class="img-thumbnail" width="193" height="269">
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href="counciloratlarge2.html">
            <div class="box">
              <h3>Arik Forsman</h3>
              <h6>Coucilor At Large</h6>
              <img src="assets/img/officials/ArikForsman.webp" alt="Arik Forsman" class="img-thumbnail" width="193" height="269">
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href="counciloratlarge3.html">
            <div class="box">
              <h3>Derek Medved</h3>
              <h6>Coucilor At Large</h6>
              <img src="assets/img/officials/DerekMedved.webp" alt="Derek Medved" class="img-thumbnail" width="193" height="269">
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href="counciloratlarge4.html">
            <div class="box">
              <h3>Terese Tomanek</h3>
              <h6>Coucilor At Large</h6>
              <img src="assets/img/officials/TereseTomanek.webp" alt="Terese Tomanek" class="img-thumbnail" width="193" height="269">
            </div>
          </a>
        </div>

      </div>


    </div>
  </section><!-- End Portfolio Section -->


<div class="jumbotron text-center">
  <div class="container">
  </div>
</div>
<div class="container">
 
</div>
{% endblock %}