{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
	<section class="main-content">
		<div class="container">
			<h1 style="text-align: center">DRIP Leaderboard</h1>
			<br>
			<div class="row">
				<div class="col-sm-4">
					<div class="leaderboard-card">
						<div class="leaderboard-card__top">
							<h3 class="text-center">YOUR TEAM ADD</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="{% static 'img/user2.jpg'%}" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">Team Rocket</h5>
								<p class="text-muted mb-0">Your Benefits</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									
									<button class="btn btn-outline-success btn-sm" style="width:100%">Join</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">YOUR ADDS HERE</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="{% static 'img/user1.jpg'%}" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">Team Rocket</h5>
								<p class="text-muted mb-0">Your Benefits</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<button class="btn btn-outline-success btn-sm" style="width:100%">Join</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card">
						<div class="leaderboard-card__top">
							<h3 class="text-center">YOUR TEAM ADDS</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="{% static 'img/user3.jpg'%}" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">Team Rocket</h5>
								<p class="text-muted mb-0">Your Benefits</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<button class="btn btn-outline-success btn-sm" style="width:100%">Join</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<table id="data" class="table table-striped" style="width: 100%;">
				<thead>
				  <tr>
					<th>More Info</th>
					<th>Score*</th>
					<th>Team Wallet</th>
					<th>Team Name/ID</th>
					<th>Direct referrals</th>
					<th>Total team</th>
					<th>Deposit</th>
					<th>Claimed</th>
					<th>Airdrop send</th>
					<th>Airdrop recived</th>
					<th>Join Team</th>
					
				  </tr>
				</thead>
				<tbody>
				</tbody>
			  </table>
			


		</div>
	</section>
</body>
{% endblock %}
