Telethon
telethon-session-sqlalchemy
setuptools
wheel
gunicorn
flask
aiocsv
aiofiles
aiohttp
aiosqlite
arabic_reshaper
beautifulsoup4
cloudscraper
colour
cowpy
DateTime
emoji
ffmpeg-python
fonttools
geopy
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
ipaddress
jikanpy
justwatch
kvsqlite
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
opentele
Pillow
prettytable
psutil
psycopg2-binary
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pyquery
pyrogram
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
regex
requests
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
tgcrypto
ujson
urlextract
user_agent
validators
vcsi
wand
wget==3.2
youtube-search-python==1.4.9
youtube-search
youtube_dl
yt-dlp==2024.4.9
img2html
googletrans-py
 
