argh==0.26.2
boto==2.42.0
dj-database-url==0.4.0
Django==1.9.2
django-contrib-comments==1.7.1
django-extensions==1.7.4
django-storages==1.5.0
django-waffle==0.11.1
gunicorn==19.4.5
injector==0.9.1
Pillow==3.3.0
pkg-resources==0.0.0
psycopg2==2.6.1
pytz==2016.6.1
requests==2.10.0
six==1.10.0
sorl-thumbnail==12.3
whitenoise==2.0.6
