{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}

<div class="container">

  <div class="row" style="padding-top: 75px">

    <div class="medium-4 grid-block">    
      <p><img style="background: url(/media/{{team.image}}); background-size:cover; background-repeat:no-repeat;width:250px; height:250px;"></p>
      {% if request.user = team.owner %}
        <a href="delete/"><p>delete</p></a>
      {% endif %}
    </div>
    <div class="medium-6 grid-block">
      <p class="lead" style="text-align: left;">{{team.title}}</p>
      <p class="subheader" style="text-align: left;">{{team.description}}</p>

    </div>
  </div>

  
  <div class="row" style="padding-top: 100px">
    <div class="small-8 columns small-centered">
      <h1 class="lead" style="text-align: left;">Team roles</h1>
      <article class="event">
          <div class="event-date">
            <img width="125px" src="{% static 'img/dashboard_template_image.png' %}" alt="image of a planet called Pegasi B">
          </div>

          <div class="event-desc">
            <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
            <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Altlanta</p>
            <a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">RSVP &amp; Details</a>
          </div>
        </article>

        <hr>

        <article class="event">
          <div class="event-date">
            <img width="125px" src="{% static 'img/dashboard_template_image.png' %}" alt="image of a planet called Pegasi B">
          </div>

          <div class="event-desc">
            <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
            <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Washington, DC</p>
            <a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">RSVP &amp; Details</a>
          </div>
        </article>
    </div>
    <div class="small-4 columns small-centered">
      <p>(Some) Team members</p>
      <div class="callout no-border">
        <p><img style="border-radius:180px; width:125px;" src="{% static 'img/person_stock.jpg' %}" alt="image of a planet called Pegasi B"></p>
      </div>
      <div class="callout no-border">
        <p><img style="border-radius:180px; width:125px;" src="{% static 'img/person_stock.jpg' %}" alt="image of a planet called Pegasi B"></p>
      </div>
      <div class="callout no-border">
        <p><img style="border-radius:180px; width:125px;" src="{% static 'img/person_stock.jpg' %}" alt="image of a planet called Pegasi B"></p>
      </div>

    </div>

  </div>

  <div class="row" style="padding-top: 50px">
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li class="unavailable">&hellip;</li>
        <li><a href="">12</a></li>
        <li><a href="">13</a></li>
        <li class="arrow"><a href="">&raquo;</a></li>
      </ul>
    </div>
  </div>



<style>
.event {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
  .event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center; }
  .event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
  .event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
  .event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
  .event-desc .event-desc-time {
    font-weight: bold; }
  .event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }

</style>

</div>


{% endblock %}