.jumbotron {
    background: #532f8c;
    color: white;
    padding-bottom: 80px
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7
}
.jumbotron .btn-primary:hover {
    background: #7646c1
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}

.jumbotron .lang-logo {
    display: block;
    background: #b01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .lang-logo img {
    max-width: 100%
}


@media all and (max-width: 950px) {
    .container-fluid {
        margin-left: 0%;
    }
}

@media all and (min-width: 960px) {
    .container-fluid {
        margin-left: 15%;
    }
}

/* DISABLE AOS DELAY ON MOBILE */
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  