{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
      {% if person.picture.url != None %}
        <img width='150px' class="img-circle" style="padding-top:20px" src="{{person.picture.url}}" \>
      {% endif %}
      <h2>{{person.fullname}}</h2>
      <h4>{{person.user.email}}</h4>
      <h4>Bio</h4>
      <p>{{person.bio}}</p>
  </div>

  <hr>
<!-- GIGS THAT THE PERSON IS A TEAM MEMBER OF -->
    <div class="row">
      <h3>Teams</h3>
    </div>
    <div class="row">
      {% for team in teams %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><a href="/gigs/detail/{{team.gig.pk}}">{{team.gig.title}}</a></h3>
          <p></p>
          <h5>Created on {{team.gig.created}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
    
    


</div>


{% endblock %}