{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
      {% if person.picture != None %}
        <img width='150px' class="img-circle" style="padding-top:20px" src="/media/{{person.picture}}" \>
      {% endif %}
      <h2>{{person.fullname}}</h2>
      <h4>{{person.user.email}}</h4>
      <h4>Bio</h4>
      <p>{{person.bio}}</p>
  </div>

  <hr>
<!-- GIGS THAT THE PERSON IS A TEAM MEMBER OF -->
    <div class="row">
      <h3>Teams</h3>
    </div>
    {% for team in user.gig_set.all %}
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><a href="detail/{{gig.pk}}">{{team.title}}</a></h3>
          <p></p>
          <h5>Created on {{team.created}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}


</div>


{% endblock %}