/
/*
 * Globals
 */

/* Links */

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #fff;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/*
 * Header
 */

.show {
    display: table !important;
}

.masthead {
    background: #e1e8f0;
    height: 70px;
}

.masthead-brand {
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    display: inline;
}

.masthead-menu {
    display: none;
}

.masthead_dropnav {
    display: none;
    position: absolute;
    height: 500px;
    width: 100%;
    text-align: center;
    color: black;
    background-color: #ffffff;
}

.masthead-nav {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-right: 40px;
    float: right;
}

.masthead-nav li {
    float: right;
}

.masthead-nav li a {
    display: block;
    color: black;
    padding: 14px 16px;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
}

.masthead-navregbtn {
    border: 3px solid black;
    border-radius: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

.masthead-dropnav-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

/*
 * Content
 */

.mastcontent {
    background: white;
    min-height: 900px;
    color: black;
}

.mast-signin {
    padding-top: 200px;
}

.mastsignup-heading {
    padding-top: 100px;
    padding-bottom: 50px;
}

.mastsignup-play {
    padding-bottom: 80px;
    display: table;
}

.mastsignup-orgname {
    width: 320px;
    float: right;
}

.mastsignup-button {
    width: 180px;
    float: left;
    background-color: rgb(230, 39, 57);
}

.cover-heading {
    font-family: 'Montserrat', sans-serif;
}

/*
 * Footer
 */
.mastfoot {
    /*height: 35%;*/
}

.mast-mainfoot {
    /*height: 80%;*/
    color: #828282;
    background: #FAFAFA;
}

#mast-signin-btn {
    width: 50%;
    background: red;
}

.mast-mainfoot-sociallinks {
    text-align: left;
}

.mast-mainfoot-row {
    height: 400px;
}

.mast-copyright {
    color: #FDFDFB; /* IE8 proofing */
    color: rgb(253, 253, 251);
    height: 75px;
    line-height: 75px;
    background-color: #6ED3CF
}

/*
 * Media Queries for mobile responsive design
 */

@media screen and (min-width: 64em) {
    .masthead_dropnav {
        display: none !important;
    }
}

@media screen and (max-width: 63.9375em) {
    .masthead {
        background: #e1e8f0;
    }

    .masthead-menu {
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 30px;
    }

    .masthead-nav {
        display: none;
    }

    .mastsignup-orgname {
        float: left;
        border-radius: 5px;
        display: block !important;
        width: 100%;
    }

    .mast-mainfoot-sociallinks {
        text-align: center;
    }

    .mastsignup-button {
        float: left;
        background-color: rgb(230, 39, 57);
        border-radius: 5px;
        display: block !important;
        width: 100%;
    }

    .mast-mainfoot {
        height: auto;
    }

    .mast-mainfoot-logo {
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .mast-mainfoot-col1 {
        padding-left: 50px;
    }

    .mast-mainfoot-col2 {
        padding-left: 50px;
    }

    #mastsignup-orgwrap {
        display: block !important;
    }

    #mastsignup-btnwrap {
        display: block !important;
    }

    .mast-mainfoot-row {
        height: 800px;
    }

    #mast-signin-btn {
        width: 100%;
    }
}

/*
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */
