<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>HoReKa</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <style type="text/css">
    .ui.main.container {
      margin-top: 50px;
    }
  </style>
</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        HoReKa
      </a>
      {% if users %}
        <div class="ui simple dropdown item">
          Пользователи <i class="dropdown icon"></i>
          <div class="menu">
            {% for user in users %}
              <a class="item" href="#">{{ user.full_name }}</a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="ui main text container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
