{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row" style="padding-top:20px; padding-left:10px; padding-right:10px">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="media-list media-list-conversation c-w-md">
          <li class="media media-current-user m-b-md">
            <div class="media-body">
              <div class="media-body-text">
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
              </div>
              <div class="media-footer">
                <small class="text-muted">
                  <a href="#">Dave Gamache</a> at 4:20PM
                </small>
              </div>
            </div>
            <a class="media-right" href="#">
              <img class="img-circle media-object" src="../assets/img/avatar-dhg.png">
            </a>
          </li>
          <li class="media m-b-md">
            <a class="media-left" href="#">
              <img class="img-circle media-object" src="../assets/img/avatar-fat.jpg">
            </a>
            <div class="media-body">
              <div class="media-body-text">
               Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
              </div>
              <div class="media-body-text">
               Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              </div>
              <div class="media-body-text">
               Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
              </div>
              <div class="media-footer">
                <small class="text-muted">
                  <a href="#">Fat</a> at 4:28PM
                </small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}