<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="icon" href="../../favicon.ico">

    <title>TeamedUp - Compose your new organisation</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" >
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'cover.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="mastcontent">
        <div class="masthead">
            <div class="masthead-brand">
                <img class="masthead-whitelogo" src="{% static 'logo.png' %}">
                <img class="masthead-blacklogo" src="{% static 'logo1.png' %}">
            </div>
                <img class="masthead-menu" src="{% static 'menu-icon.png' %}">
            <ul class="masthead-nav">
                <li> <a href="#" class="masthead-navregbtn" style=" padding: 14px 60px 14px 60px; ">Register</a></li>
                <li> <a href="/app/login/?next=/app/">Login</a></li>
                <li> <a href="#">Contact</a></li>
                <li> <a href="#">Pricing</a></li>
                <li> <a href="#">Features</a></li>
            </ul>
        </div>
        <div class="mastsignup" >
            <div class="row mastsignup-heading align-center" >
                <div class="columns">
                    <h1 class="cover-heading">We connect people to the work</h1>
                    <h1 class="cover-heading">opportunities within their organisation.</h1>
                </div>
            </div>
            <div class="row mastsignup-play" style="display:table">
                <div class="small-12 large-12 columns">
                    <span style="display:table-cell">
                        <i class="fa fa-play-circle fa-2x" aria-hidden="true"> </i>
                    </span> 
                    
                    <span style="vertical-align: middle;display:table-cell;padding-left: 25px;">
                        WATCH OVERVIEW
                    </span>
                </div>
            </div>
            <div class="row" style="display:table; width: 80%">
                <div class="small-12 large-6 columns" id="mastsignup-orgwrap" style="display:table-cell">
                    <input type="text" class="mastsignup-orgname" placeholder="Organization Name" >
                </div>
                <div class="small-12 large-6 columns" id="mastsignup-btnwrap" style="display:table-cell">
                    <a href="#features" class="button mastsignup-button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mastfoot">
        <div class="mast-mainfoot">
            <div class="row align-middle mast-mainfoot-row" >
                <div class="small-12 large-4 columns mast-mainfoot-logo">
                    <img src="{% static 'logo1.png' %}">
                </div>
                <div class="small-12 large-8 columns">
                    <div class="row align-top">
                    <div class="small-6 large-4 columns mast-mainfoot-col1" style="text-align:left">
                        <p style="color: black;">@TeamedUp</p>
                        <p>Features</p>
                        <p>Pricing</p>
                        <p>Contact</p>
                        <p>Register</p>
                        <p>Login</p>
                        <p>FAQ</p>
                    </div>
                    <div class="small-6 large-4 mast-mainfoot-col2" style="text-align:left">
                        <p style="color: black;">Contact</p>
                        <p>About Us</p>
                        <p>Jobs</p>
                        <p>Support</p>
                        <p>Contact Us</p>
                    </div>
                    <div class="small-12 large-4 columns mast-mainfoot-sociallinks">
                        <p style="color: black;">Follow Us</p>
                        <p>
                            <div style="color: rgb(144 , 104 , 190)">
                                <i class="fa fa-facebook-square fa-2x" style="margin-right:20px;" aria-hidden="true"> </i>
                                <i class="fa fa-twitter-square fa-2x" style="margin-right:20px;" aria-hidden="true"> </i>
                                <i class="fa fa-linkedin-square fa-2x" style="margin-right:20px;" aria-hidden="true"> </i>
                                <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"> </i>
                            </div>
                        </p>
                        <p>Follow us on those social networks</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mast-copyright">
            Copyright &copy; TeamedUp. All rights reserved.
        </div>
    </div>
      


    <script src="{% static 'js/foundation.min.js' %}" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
