<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="icon" href="../../favicon.ico">

    <title>TeamedUp - Compose your new organisation</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" >
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'cover.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="mastcontent" style="background-image: url('{% static 'homepage-desktop.jpg' %}')">
    
    <style>
        @media screen and (max-width: 63.9375em){
          .mastcontent {
            background-image : url("homepage_desktop.jpg");
          }
        }
    </style>
        <div class="masthead">
            <h4 class="masthead-brand">teamed</h4>
            <nav>
            <ul class="masthead-nav menu align-right">
                <li> <a href="#">Register</a></li>
                <li> <a href="/app/login/?next=/app/">Login</a></li>
                <li> <a href="#">Contact</a></li>
                <li> <a href="#">Pricing</a></li>
                <li> <a href="#">Features</a></li>
            </ul>
            </nav>
        </div>
        <div class="mastsignup" >
            <div class="row">
                <div class="small-12 large-12 columns">
                    <h1 class="cover-heading">We connect people to the work</h1>
                    <h1 class="cover-heading">opportunities within their organisation.</h1>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <i class="fa fa-play-circle fa-2x" aria-hidden="true"> </i>
                    <span>
                        WATCH OVERVIEW
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input type="text" placeholder="Organization Name">
                </div>
                <div class="large-6 columns">
                    <a href="#features" style="width:100%;background-color:rgb(230,39,57)" class="button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mastfoot">
        <div class="mast-mainfoot">
            <div class="row">
                <div class="large-4 columns">
                    <h3>teamed</h3>
                </div>
                <div class="small-6 large-2 columns" style="text-align:left">
                    <h3>@TeamedUp</h3>
                    <p>Features</p>
                    <p>Pricing</p>
                    <p>Contact</p>
                    <p>Register</p>
                    <p>Login</p>
                    <p>FAQ</p>

                </div>
                <div class="small-6 large-2 columns" style="text-align:left">
                    <h3>Contact</h3>
                    <p>About Us</p>
                    <p>Jobs</p>
                    <p>Support</p>
                    <p>Contact Us</p>
                </div>
                <div class="large-4 columns">
                    <h3>Follow Us</h3>
                    <div style="color: rgb(144 , 104 , 190)">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"> </i>
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"> </i>
                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"> </i>
                        <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"> </i>
                    </div>
                    <p>Follow us on those social networks</p>
                </div>
            </div>
        </div>
        <div class="mast-copyright">
            Copyright &copy; TeamedUp. All rights reserved.
        </div>
    </div>
      


    <script src="{% static 'js/foundation.min.js' %}" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
