{% extends 'base.html' %}
{% block content %}
{% load comments %}
{% get_comment_list for gig as comment_list %}

<div class="container">
  <div class="row" style="padding-top:20px">
    <div class="panel panel-default">
  		<div class="panel-body">
    		<h3><a href="#">{{gig.title}}</a></h3>
    		<p>Posted by <a href="/people/profile/1/">Kaj Lofgren</a> on {{gig.created}}</p>
        <hr>
        {% if gig.description != None %}
          <p>{{gig.description}}</p>
        {% endif %}
        <button type="submit" class="btn btn-default">Request to join!</button>
  		</div>
	   </div>
  </div>

  <div class="row" style="padding-top:20px">
    <h3>Comment</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        {% render_comment_form for gig %}
        {% render_comment_list for gig %}
      </div>
     </div>
  </div>
</div>



{% endblock %}