{% extends 'base.html' %}
{% block content %}
{% load comments %}
{% get_comment_list for gig as comment_list %}

<div class="container">
  <div class="row" style="padding-top:20px">
    <div class="panel panel-default">
  		<div class="panel-body">
    		<h3>{{gig.title}}</h3>
    		<p>Posted on {{gig.created}}</p>
        <p>Admins: 
          {% for admin in gig_admin %}
            {{admin.person.username}}
          {% endfor %}
        </p>
        {% if request.user in gig_admin %}
          <p><a href="/gigs/{{gig.pk}}/edit">Edit</a></p>
        {% endif %}
        <hr>
        {% if gig.description != None %}
          <p>{{gig.description}}</p>
        {% endif %}


        {% if membership_status == None %}
          <a href="/gigs/team_request/{{gig.pk}}" disabled='disabled' class="btn btn-default">Request pending</a>
        {% elif membership_status == True %}
          <!-- Should add functionality to allow users to leave gig's at some point, too-->
          <a href="#" class="btn btn-default" disabled='disabled'>You're a member!</a>
        {% else %}
          <a href="/gigs/team_request/{{gig.pk}}" class="btn btn-default">Request to join</a>
        {% endif %}
          
  		</div>
	   </div>
  </div>

  <div class="row" style="padding-top:20px">
    <h3>Comment</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        {% render_comment_form for gig %}
        {% render_comment_list for gig %}
      </div>
     </div>
  </div>
</div>



{% endblock %}