{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
      <h1>Gig details</h1>
  <div class="row" style="padding-top:20px">
    <div class="panel panel-default">
      <div class="panel-body">
      <form method="POST" class="form-horizontal">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          <label for="{{form.title.id_for_label}}" class="col-sm-2 control-label">Gig title</label>
          <div class="col-sm-10">
            {{form.title}}
          </div>
        </div>
        <div class="form-group">
          <label for="{{form.description.id_for_label}}" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            {{form.description}}
          </div>
        </div>     
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save & submit</button>
            {% if gig.pk != None %}
              <a href="/gigs/detail/{{gig.pk}}" class="btn btn-default">Cancel</a>
            {% else %}
              <a href="/gigs" class="btn btn-default">Cancel</a>
            {% endif %}
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}