{% extends 'base.html' %}
{% block content %}


<div class="container">
  {% for gig in gigs %}
    {% if forloop.counter == 1 %}
      <div class="row" style="padding-top:20px">
    {% else %}
      <div class="row">
    {% endif %}
    <div class="panel panel-default">
  		<div class="panel-body">
    		<h3><a href="detail/">{{gig.title}}</a></h3>
    		<p>Posted by <a href="/people/profile/1/">Kaj Lofgren</a> on {{gig.created}}</p>
  		</div>
	</div>
  </div>
  {% endfor %}
</div>



{% endblock %}