{% extends 'base.html' %}
{% block content %}
{% load comments %}

<div class="container">
  <div style="padding-top:20px" class="row">
    <a href="new_gig" type="button" class="btn btn-primary">  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
List Gig</a>
  </div>
  {% for gig in gigs %}
    {% if forloop.counter == 1 %}
      <div class="row" style="padding-top:20px">
    {% else %}
      <div class="row">
    {% endif %}
    <div class="panel panel-default">
  		<div class="panel-body">
    		<h3><a href="detail/{{gig.pk}}">{{gig.title}}</a></h3>
        <p></p>
    		<h5>Posted by <a href="/people/profile/1/">{{gig.owner.username}}</a> on {{gig.created}}</h5>
        {% get_comment_count for gig as comment_count %}
        <h6>{{ comment_count }} comments</h6>
  		</div>
	   </div>
  </div>
  {% endfor %}
</div>



{% endblock %}