/*
 * Globals
 */

/* Links */



/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}


/*
 * Header
 */

.masthead {
    height: 10%; 
}
.masthead-brand {
  float : left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav {
  float : right;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 * Content
 */

.mastcontent {
    height: 55%;

}



/*
 * Footer
 */
.mastfoot {
    /*height: 35%;*/
}
.mast-mainfoot {
    /*height: 80%;*/
    color : #828282;
    background : #FAFAFA;
}

.mast-copyright {
  color: #FDFDFB; /* IE8 proofing */
  color: rgb(253,253,251);
  height: 75px;
  line-height: 75px;
  background-color: #6ED3CF
}
