/*
 * Globals
 */

/* Links */



/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family : 'Montserrat' , sans-serif; 
}
body {
  color: #fff;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}


/*
 * Header
 */

.masthead {
    height: 100px; 
}
.masthead-brand {
  float : left;
  margin-top: 40px;
  margin-left: 40px;
  font-family : 'Montserrat' , sans-serif; 
}

.masthead-nav {
  float : right;
  margin-top: 40px;
  margin-bottom: 2px;
}

/*
 * Content
 */

.mastcontent {
    background-image : url("homepage-desktop.jpg");
    background-size : 100% 100%;
    min-height : 900px;
}

.cover-heading {
  font-family : 'Montserrat' , sans-serif; 
}


/*
 * Footer
 */
.mastfoot {
    /*height: 35%;*/
}
.mast-mainfoot {
    /*height: 80%;*/
    color : #828282;
    background : #FAFAFA;
}

.mast-copyright {
  color: #FDFDFB; /* IE8 proofing */
  color: rgb(253,253,251);
  height: 75px;
  line-height: 75px;
  background-color: #6ED3CF
}

/*
 * Media Queries for mobile responsive design
 */

@media screen and (max-width: 63.9375em) {
    .masthead {
        background : rgb(255,255,255);
    }
    .mastcontent {
           background-image : url("homepage_mobile.jpg");
    }
    .masthead-nav {
        display : none;
    }
}