{% extends 'base.html' %}
{% block content %}

{% if alert %}
<div class="row" style="padding-top:20px">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>{{alert.message}}</h4>
    </div>
   </div>
</div>
{% endif %}

<div class="row">
  <h1>Application dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <p>This is still very much in development (obviously!)</p>
    <p>Currently available for demo:</p>
    <ul>
    	<li><a href="/people">People, profiles and availability calendars</a></li>
      <li><a href="/recruit">Automated / AI driven head hunting service</a></li>
    </ul>
    <p>Current list of to-do's<p>
    	<ul>
    		<li>[0%] Update Person to User relation from ForeignKey to OneToOne</li>
        <li>[100%] Enable gigs MVP</li>
        <li>[90%] Allow users to update their profile information</li>
        <li>[50%] When user updates profile information, add validation (e.g. that existing username doesnt already exist) & appropriate error handling on edit profile view</li>
    		<li>[0%] Enable contractors to nominate themselves for a Gig</li>
        <li>[0%] Enable gig owners to screen and select contractors for a Gig</li>
        <li>[0%] Allow user signup workflow (linked to request beta access)</li>
    		<li>[10%] Build out the dashboard (this page)</li>
        <li>[60%] [Deprioritized] Enable recruit feature (people can post a position they're hiring for</li>
        <li>[5%] [Deprioritized] Finish hooking up basic calendar functionality in profies</li>
    	</ul>
  </div>

  <p>Last updated: 30 July 2016</p>
</div>



{% endblock %}