
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login to TeamedUp</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/foundation.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="masthead">
        <h3 class="masthead-brand">TeamedUp</h3>
        <nav>
        <ul class="masthead-nav menu align-right">
            <li> <a href="#">Register</a></li>
            <li> <a href="/app/login/?next=/app/">Login</a></li>
            <li> <a href="#">Contact</a></li>
            <li> <a href="#">Pricing</a></li>
            <li> <a href="#">Features</a></li>
            
        </ul>
        </nav>
    </div>

    <div class="mastcontent">
      <form class="form-signin" method="POST" action="/app/login_user/">
        {% csrf_token %}
        <div class="row">
            <h2 class="form-signin-heading">Login</h2>
            <label for="email*" class="sr-only">Email</label>
            <input style ="width:100%" type="text*" name="username" id="email" class="form-control" placeholder="Enter email" required autofocus>
        </div>
        <div class="row">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
        </div>
        <div class="row">
            <p>Forgotten Password? <a> Recover Password </a> </p>
            <button class="button" type="submit" value="login">Login</button>
        </div>
      </form>
    </div> <!-- /container -->
    <div class="mastfoot">
        <div class="mast-mainfoot">
            <div class="row">
                <div class="large-4 columns">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h3>TeamedUp</h3>
                    <br/>
                    <br/>
                </div>
                <div class="small-6 large-2 columns" style="text-align:left;padding-left:40px">
                    <br/>
                    <br/>
                    <h3>@TeamedUp</h3>
                    <br/>
                    <p>Features</p>
                    <p>Pricing</p>
                    <p>Contact</p>
                    <p>Register</p>
                    <p>Login</p>
                    <p>FAQ</p>

                </div>
                <div class="small-6 large-2 columns" style="text-align:left;padding-left:40px" >
                    <br/>
                    <br/>
                    <h3>Contact</h3>
                    <br/>
                    <p>About Us</p>
                    <p>Jobs</p>
                    <p>Support</p>
                    <p>Contact Us</p>
                </div>
                <div class="large-4 columns" >
                    <br/>
                    <br/>
                    <h3>Follow Us</h3>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="mast-copyright">
            Copyright &copy; TeamedUp. All rights reserved.
        </div>
    </div>

    <script src="{% static 'js/foundation.min.js' %}" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
