{% load staticfiles %}
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

    <div class="row">
        <a class="close-reveal-modal" style="position:absolute; right:10px; top:6px; font-size:24px;" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <div class="large-6 columns">
            <div class="lead">Create New Team</div>
            <div class="subheader">Fill out the fields below.</div>
        </div>
    </div>

    <form action="/teams/create_new_team/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row" style="margin-top:30px;">
            <div class="small-12 medium-4 columns">
                <img id="img_id" src="{% static 'img/upload-placeholder.png' %}" alt="your image" style="width:250px;"/>
                <div class="file-upload">
                    <input type="file" name="team_image" onchange="upload_img(this);"/>
                </div>
            </div>
            <div class="small-12 medium-8 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <label for="title">Title*</label>
                        <input type="text" id="title" name="title" placeholder="Enter team title"/>
                    </div>
                    <div class="small-12 columns">
                        <label for="description">Description*</label>
                        <textarea id="description" name="description" rows="4" placeholder="Enter team description"></textarea>
                    </div>
                    <div class="small-12 columns">
                        <label for="invitepeople">Invite People</label>
                        <input type="text" id="invitepeople" name="invitepeople" placeholder="Enter user email address"/>
                    </div>
                    <div class="small-12 columns">
                        <div class="row">
                            <div class="small-2 columns" style="position:relative; padding:15px 10px;">
                                <img src="/static/img/person_stock.jpg" class="avatar-round" style="border-radius:50%; width:100%;" />
                                <div style="position:absolute; right:8px; top:2px; color:gray;"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                            <div class="small-2 columns" style="position:relative; padding:15px 10px;">
                                <img src="/static/img/person_stock.jpg" class="avatar-round" style="border-radius:50%; width:100%;" />
                                <div style="position:absolute; right:8px; top:2px; color:gray;"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                            <div class="small-2 columns" style="position:relative; padding:15px 10px;">
                                <img src="/static/img/person_stock.jpg" class="avatar-round" style="border-radius:50%; width:100%;" />
                                <div style="position:absolute; right:8px; top:2px; color:gray;"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                            <div class="small-2 columns" style="position:relative; padding:15px 10px;">
                                <img src="/static/img/person_stock.jpg" class="avatar-round" style="border-radius:50%; width:100%;" />
                                <div style="position:absolute; right:8px; top:2px; color:gray;"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                            <div class="small-2 columns" style="position:relative; padding:15px 10px;">
                                <img src="/static/img/person_stock.jpg" class="avatar-round" style="border-radius:50%; width:100%;" />
                                <div style="position:absolute; right:8px; top:2px; color:gray;"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                            <div class="small-2 columns" style="position:relative; padding:15px 10px;">
                                <img src="/static/img/person_stock.jpg" class="avatar-round" style="border-radius:50%; width:100%;" />
                                <div style="position:absolute; right:8px; top:2px; color:gray;"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 columns">
                        <input type="submit" class="button" value="Create Team"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    function upload_img(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_id').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<style>
    #myModal {
        text-align: left;
        background: white;
        width: 75%;
        max-width: 1040px;
        color: black;
        border: none;
        position: absolute;
        padding: 20px;
        left: 12.5%;
        top: 50%;
    }
</style>