{% extends 'base.html' %}

{% load thumbnail %}


{% block extra_header %}
    <style type="text/css">
        .teamedup-form .upload-button {
            position: relative;
            bottom: 50px;
            right: 10px;
            border-radius: 50%;
        }

        input[type=file] {
            width: 1px;
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">

        <form enctype="multipart/form-data" method="POST" class="teamedup-form">

            {% csrf_token %}
            <div class="row">
                <div class="columns">
                    <h5 class="title">Account Settings</h5>
                    <p class="description">ACCOUNT SETTINGS</p>
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-3 small-12 columns text-right">
                    {% thumbnail request.user.profile.userpic "350x350" as userpic %}
                        <img class="userpic-preview" src="{{ userpic.url }}"/>
                    {% empty %}
                        <img class="userpic-preview" src="http://placehold.it/350x350&text=Picture"/>
                    {% endthumbnail %}
                    <a href="#" class="button alert round upload-button"><i class="fa fa-upload"></i></a>
                </div>
                <div class="large-7 medium-9 small-12 columns">
                    <div class="row">
                        <div class="columns" style="color:red;">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        Name
                                        {{ form.name }}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        City
                                        {{ form.city }}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        Country
                                        {{ form.country }}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        Bio
                                        {{ form.bio}}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        Email
                                        {{ form.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        Password
                                        {{ form.password }}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        Repeat Password
                                        {{ form.repeat_password }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns text-center">
                    <input type="submit" class="button alert hide-for-small-only" value="Save Settings"/>
                    <input type="submit" class="button alert expanded show-for-small-only" value="Save Settings"/>
                    <i class="fa fa-spinner fa-spin" style="display: none;" aria-hidden="true"></i>
                </div>
            </div>
            <input type="file" onchange="previewFile()" name="userpic">
        </form>

    </div>



    {% if organizations %}
        <div class="container">
            {% for organization in organizations %}
                <div class="row">
                    <div class="columns teamedup-form">
                        <div class="row">
                            <div class="large-8 medium-7 small-5 columns">
                                <h5 class="title">{{ organization.name }}</h5>
                                <p class="description">ORGANIZATION SETTINGS</p>
                            </div>
                            <div class="large-4 medium-5 small-7 columns">

                                <form action="{% url 'organization-invite' organization.pk %}" method="POST"
                                      class="invitation-form">
                                    <div class="input-group">
                                        <input name="invitation-email" class="input-group-field" type="email"
                                               style="margin-top:0;" required="required"
                                               placeholder="Enter email address"/>
                                        <div class="input-group-button">
                                            <button type="submit" class="postfix alert button invitation-button"
                                                    data-url="{% url 'organization-invite' organization.pk %}">
                                                <i class="fa fa-send"></i>
                                                Invite
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        {% for member in organization.members %}
                            <div class="row organization-member-{{ member.user.pk }}">
                                <div class="large-2 medium-2 small-4 columns">
                                    {% thumbnail member.user.profile.userpic "200x200" crop="center" as userpic %}
                                        <img class="image-rounded" src="{{ userpic.url }}"/>
                                    {% empty %}
                                        <img class="image-rounded"
                                             src="http://placehold.it/200x200&text=Picture"/>
                                    {% endthumbnail %}
                                </div>
                                <div class="large-10 medium-10 small-8 columns">
                                    <div class="row">
                                        <div class="large-7 medium-7 small-12 columns">
                                            <h6 class="title">{{ member.user.profile.get_name }}</h6>
                                            <p class="description">{{ member.user.email }}</p>
                                            <div class="show-for-small-only">
                                                {% include 'app/includes/organization_member_actions.html' %}
                                            </div>
                                        </div>
                                        <div class="large-5 medium-5 small-12 columns hide-for-small-only text-right">
                                            {% include 'app/includes/organization_member_actions.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">&nbsp;</div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="columns">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns">&nbsp;</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="reveal" id="invitation_results" data-reveal role="dialog">
        <div class="teamedup-form">
            <h5 class="title">Thanks, Your Invites are on the way</h5>
            <p class="description">Your colleagues will receive an invitation to join your organization shortly.</p>
        </div>
        <div class="text-right">
            <button class="button alert" data-close aria-label="Close modal">OK</button>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{#    <div class="reveal" id="multiple_invitation" data-reveal>#}
{#        role="dialog">#}
{#        <div class="teamedup-form">#}
{#            <h5 class="title">Thanks, Your Invites are on the way</h5>#}
{#            <p class="description">Your colleagues will receive an invitation to join your organization shortly.</p>#}
{#        </div>#}
{#        <div class="text-right">#}
{#            <button class="button alert" data-close aria-label="Close modal">OK</button>#}
{#        </div>#}
{#        <button class="close-button" data-close aria-label="Close modal" type="button">#}
{#            <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#    </div>#}

{% endblock %}


{% block extra_footer %}
    <script type="text/javascript">
        function previewFile() {
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                $('img.userpic-preview').attr('src', reader.result)
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                $('img.userpic-preview').attr('src', 'http://placehold.it/350x350&text=Picture')
            }
        }


        window.onload = function () {

            $('.upload-button').click(function () {
                $('input[type="file"]').click();
                return false;
            });

            $('.teamedup-form').submit(function () {
                $(this).find('input[type="submit"]').hide();
                $(this).find('.fa-spinner').show();
                return true;
            });

            $('.switch-admin-status-button').click(function () {
                var button = $(this);
                $.post(button.data('url'), {}, function (response) {
                    button.text(response.button_text)
                }, 'json');
            });

            $('.remove-member-button').click(function () {
                if (!confirm('This member will be removed from the organization')) {
                    return
                }
                var button = $(this);
                $('.organization-member-' + button.data('user-id')).remove();
                $.post(button.data('url'));
            });

            $('.invitation-form').submit(function () {
                var form = $(this);
                var email = form.find('[name="invitation-email"]').val();
                form.find('[name="invitation-email"]').val('');
                $.post(form.attr('action'), {'email': email}, function () {
                    $('#invitation_results').foundation('open');
                }, 'json');
                return false;
            });

        }
    </script>
{% endblock %}
