{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}
    TeamedUp &mdash; {{ member.profile.get_name }}
{% endblock %}

{% block extra_header %}
    <style type="text/css">
        .team-member-entry {
            padding: 30px;
        }
        .role {
            padding: 1rem 0;
        }

        .role-date {
            font-family: 'Montserrat', sans-serif;
            color: #8a8a8a;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            background-color: #e1e8f0;
            width: 100px;
            height: 100px;
            border-radius: 5px;
            padding: 0px;
            display: table-cell;
            vertical-align: middle;
        }

        .role-date-start {
            color: black;
            font-size: 14px;
            text-transform: uppercase;
        }

        .role-date-duration {
            text-transform: uppercase;
        }

        .role-member-avatar-anchor {
            display: block;
        }

        .role-member-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container text-left">
        <div class="row">
            <div class="columns">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="columns small-3 medium-3 large-3">
                {% thumbnail member.profile.userpic "350x350" crop='center' as img %}
                    <img class="image-rounded" src="{{ img.url }}"/>
                {% empty %}
                    <img class="image-rounded" src="http://placehold.it/350x350&text=Picture"/>
                {% endthumbnail %}
            </div>
            <div class="columns small-9 medium-9 large-9">
                <div class="row">
                    <div class="small-8 medium-8 large-8 columns">
                        <h5 style="margin-bottom:0;">{{ member.profile.get_name }}</h5>
                        <div style="color: #ccc;">{{  member.profile.get_location_string  }}</div>
                        <p>
                            {{ member.profile.bio }}
                        </p>
                    </div>
                    <div class="small-4 medium-4 large-4 columns text-right">
                        {% if request.user.pk == member.pk %}
                            <a class="button secondary" href="{% url 'settings' %}">Edit Profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <hr>
            </div>
        </div>


        {% if current_roles or past_roles %}

            <div class="row">
                <div class="columns">
                    <h4>Role Memberships</h4>
                </div>
            </div>

            <div class="row">
                {% if current_roles %}
                    <div class="columns small-12 medium-12 large-6">
                        <h5>Current</h5>
                        {% for role in current_roles %}
                            <div class="row role">
                                <div class="columns small-3 text-left">
                                    <div class="role-date">
                                        <div>STARTS ON</div>
                                        <div class="role-date-start">{{ role.start_date | date:"j M" | upper }}</div>
                                        <div class="role-date-duration">FOR {{ role.end_date | timeuntil:role.start_date | upper }}</div>
                                    </div>
                                </div>

                                <div class="role-desc columns small-7 text-left">
                                    <p class="role-desc-header">
                                        <h6>{{ role.title }}</h6>
                                        <a href="{% url 'team_detail' role.team.pk %}">{{ role.team.title }}</a>
                                    </p>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if past_roles %}
                    <div class="columns small-12 medium-12 large-6">
                        <h5>Past</h5>
                        {% for role in past_roles %}
                            <div class="row role">
                                <div class="columns small-3 text-left">
                                    <div class="role-date">
                                        <div>STARTS ON</div>
                                        <div class="role-date-start">{{ role.start_date | date:"j M" | upper }}</div>
                                        <div class="role-date-duration">FOR {{ role.end_date | timeuntil:role.start_date | upper }}</div>
                                    </div>
                                </div>

                                <div class="role-desc columns small-7 text-left">
                                    <p class="role-desc-header">
                                        <h6>{{ role.title }}</h6>
                                        <a href="{% url 'team_detail' role.team.pk %}">{{ role.team.title }}</a>
                                    </p>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        {% endif %}

        <div class="row">
            <div class="columns">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <h4>Team Memberships</h4>
            </div>
        </div>

        <div class="row small-up-2 medium-up-3 large-up-4">
            {% for team in teams %}
                <a href="{% url 'team_detail' team.pk %}" class="columns team-member-entry">
                    {% thumbnail team.image "350x350" crop='center' as img %}
                        <img src="{{ img.url }}" />
                    {% empty %}
                        <img src="http://placehold.it/350x350&text=Picture" />
                    {% endthumbnail %}
                    <h6 class="text-center">{{ team.title }}</h6>
                </a>
            {% endfor %}
        </div>


    </div>


{% endblock %}

{% block extra_footer %}{% endblock %}