{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="page-header">
	  		<h1>Talent search <small>grow your talent network</small></h1>
		</div>
		<div class="jumbotron">
		  <p>TeamedUp offers a talent search service that brings the best people to you. Simply start a new talent search campaign and check back here daily for quality candidate leads. You won't pay for any hidden recruitment fees, and you will own the candidate list forever once the campaign ends. All you have to do is fund the search, with campaigns starting as low as $50/d.</p>
		  <p><a class="btn btn-primary btn-lg" href="newsearch" role="button">Start new talent search</a></p>
		</div>
	</div>

	<div class="row">
		<h2>Active campaigns</h2>
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Business analyst</h3>
			  </div>
			  <div class="panel-body">
			    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			  </div>
			  <div class="panel-footer">5 Candidates, campaign ends 31 August, 2016</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h3>Past campaigns</h3>
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Business analyst</h3>
			  </div>
			  <div class="panel-body">
			    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			  </div>
			  <div class="panel-footer">8 Candidates, campaign closed 1 July 2016</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}